<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SpeechApp</title>
    </head>
    <body>
        <h1>Registration SpeechApp</h1>
        <form action="/user_registration" method="post">
            <table>
                <tr>
                    <th>User Id</th>
                    <td><input type="text" name="id" placeholder="Enter User Id"></td>
                </tr>
                <tr>
                    <th>User Name</th>
                    <td><input type="text" name="name" placeholder="Enter User Id"></td>
                </tr>
                <tr>
                    <th>User Email</th>
                    <td><input type="text" name="email" placeholder="Enter User Id"></td>
                </tr>
                <tr>
                    <th>User Password</th>
                    <td><input type="password" name="pswd" placeholder="Enter User Id"></td>
                </tr>
                <tr>
                    <td><input type="Submit" name="submit" value="Registration"></td>
                </tr>
            </table>
        </form>

    <!--=========================== [ Login ] =================================-->
        <h1>Login SpeechApp</h1>
        <form action="/user_login" method="post">
            <table>
                <tr>
                    <th>User Email</th>
                    <td><input type="text" name="email" placeholder="Enter User Id"></td>
                </tr>
                <tr>
                    <th>User Password</th>
                    <td><input type="password" name="pswd" placeholder="Enter User Id"></td>
                </tr>
                <tr>
                    <td><input type="Submit" name="submit" value="Login"></td>
                </tr>
            </table>
        </form>

    <!--=========================== [ Paragraph ] =================================-->
        <h1>Paragraph</h1>
        <form action="/paragraph" method="post">
            <table>
                <tr>
                    <th>Paragraph Id</th>
                    <td><input type="text" name="id" placeholder="Enter paragraph Id"></td>
                </tr>
                <tr>
                    <th>Paragraph</th>
                    <td><input type="text" name="para" placeholder="Enter Paragraph"></td>
                </tr>
                <tr>
                    <th>User Id</th>
                    <td><input type="text" name="user_id" placeholder="Enter User Id"></td>
                </tr>
                <tr>
                    <td><input type="Submit" name="submit" value="Login"></td>
                </tr>
            </table>
        </form>

    <!--=========================== [ csv ] =================================-->
        <h1>Csv upload</h1>
        <form action="/file" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <td><b>csv</b></td>
                    <td><input type="file" name="pdf" value="pdf" /></td>
                </tr>
                <tr>
                    <td><input type="Submit" name="submit" value="upload"></td>
                </tr>
            </table>
        </form>
    </body>
</html>
